body {
  margin: 0;
  font-family: 'Jetbrains Mono',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Jetbrains Mono', Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 100vh;
}

.dark-mode{
  background-color: #010400;
}

.dark-mode h1{
  color: white;
}

.note{
  background-color: #ECCBD9;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}
.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notes-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note.new{
  background-color: #59C3C3;
}

.save{
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
}

.save:hover{
  background-color: #CAD2C5;
  cursor: pointer;
}

textarea{
  border: none;
  resize: none;
  background-color: #59C3C3;
;
}

textarea:focus{
  outline: none;
}

.delete-icon{
  cursor: pointer;
}

.search{
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 10px;
}

.search input{
  border: none;
  background-color:rgb(233, 233, 233);
}

.search input:focus{
  outline: none;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}